/* google font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* tailwind basic setup */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}
*{
  font-family: "Rubik", serif;
}
#searchBar:focus + #cross {
  display: block; 
}

 
/* banner navigation button  */

.swiper-button-prev:after{
  font-size: 15px;
  font-weight: bold;
  background-color: #FDFDFD;
  width: 150px;
  height: 30px;
  color: rgb(84, 81, 81);
display: flex;
justify-content: center;
align-items: center;
border-radius: 100%; 
box-shadow: 0 10px 15px -3px rgba(18, 16, 16, 0.1), 0 4px 6px -4px rgba(0, 0, 0, .1);
}
.swiper-button-next:after{
  font-size: 15px;
  font-weight: bold;
  background-color: #FDFDFD;
  width: 150px;
  height: 30px;
  color: rgb(84, 81, 81);
display: flex;
justify-content: center;
align-items: center;
border-radius: 100%; 
box-shadow: 0 10px 15px -3px rgba(18, 16, 16, 0.1), 0 4px 6px -4px rgba(0, 0, 0, .1);
}
.swiper-button-prev:hover:after {
  background-color: rgb(246, 164, 177);
}
.swiper-button-next:hover:after {
  background-color: rgb(246, 164, 177);
}
.swiper-horizontal > .swiper-pagination-bullets{
  bottom: 0px;
}

/*================== Emoji picker custom style==================== */
.emoji-picker-react .emoji-picker-react-search-container {
  display: none;
}
.epr-header {
  display: none;
}
.epr_q53mwh.epr_vl50xg.epr_-3yva2a.epr_c90x4z.epr_-sisw4f.epr_mw4zr1.epr_-kg0voo.epr_iogimd.epr_wtwvf4.epr_-lzq3oa {
  display: none;
}

/* custom scrollber for chat box */



.chat_plate::-webkit-scrollbar {
 
  width: 0px;
}
.chat_plate::-webkit-scrollbar-thumb {
  background-color: #5e5a5e;
  border-radius: 4px;
}
.chat_plate::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}